
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#container{
  background-color: rgb(19, 5, 5);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Basic", sans-serif;
  
  
  
   
}

#left{
  flex-basis: 10%;
  /* background-color: yellow; */

}
#midaside{
  flex-basis: 60%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 20px;
  margin-left: -250px;
  

}




#menubar{
   display: flex;
   align-items: center;
  justify-content: space-around;
  color: aliceblue;
}

#right{
  flex-basis: 25%;
  /* background-color: brown; */
  

}
a{
  text-decoration: none ;
  color: aliceblue;
  font-size: 17px;
  font-weight: 300;
}



/* Footer */



#fcontainer{
  background-color: rgb(56, 40, 13);
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Basic", sans-serif;
  
   
}

#fleft{
  flex-basis: 20%;
  /* background-color: yellow; */

}
#fmidaside{
  flex-basis: 40%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 20px;
  margin-left: -250px;
  

}




#fmenubar{
   display: flex;
   align-items: center;
  justify-content: space-around;
  color: aliceblue;
}

#fright{
  flex-basis: 40%;
  /* background-color: brown; */
  

}
/* a{
  text-decoration: none ;
  color: aliceblue;
  font-size: 17px;
  font-weight: 300;
} */


/* ------------------------------------------------------------------------ */

/* This is Patent Child Task */

/* ------------------------------------------------------------------------ */
